<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopmall.user.user.dao.SupplierMapper">

    <resultMap id="Supplier" type="com.shopmall.user.user.model.SupplierModel">
        <result property="id" column="id"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="supplierAccountNumber" column="supplier_account_number"/>
        <result property="supplierPublicityMap" column="supplier_publicity_map"/>
        <result property="supplierIntroduce" column="supplier_introduce"/>
        <result property="suserId" column="suser_id"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="ctime" column="c_time"/>
        <result property="utime" column="u_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,supplier_name ,supplier_account_number ,supplier_publicity_map ,supplier_introduce ,suser_id ,create_user_id ,create_user_name ,update_user_id ,update_user_name ,c_time ,u_time 
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="supplierName != null">
				AND supplier_name = #{supplierName}
			</if>
			<if test="supplierAccountNumber != null">
				AND supplier_account_number = #{supplierAccountNumber}
			</if>
			<if test="supplierPublicityMap != null">
				AND supplier_publicity_map = #{supplierPublicityMap}
			</if>
			<if test="supplierIntroduce != null">
				AND supplier_introduce = #{supplierIntroduce}
			</if>
			<if test="createUserName != null">
				AND create_user_name = #{createUserName}
			</if>
			<if test="updateUserName != null">
				AND update_user_name = #{updateUserName}
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="Supplier">
	    SELECT <include refid="columns"/> FROM d_supplier 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="Supplier" >
	SELECT <include refid="columns"/>
	<![CDATA[
	        FROM d_supplier
	        WHERE
		        id = #{id} 
	    ]]>
	</select>
	
</mapper>

